/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
  font-family: 'Secular One', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: whitesmoke;
}

h1 {
  font-size: 25px;
}

/*nav bar styling*/
.nav-custom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: #ff2a1e;
}

.nav-img {
  width: 120px;
  border-color: #4f9100;
  border-style: outset;
  border-width: 2px;
  border-radius: 10px;
}

/*search bar styling*/
#pokemonInput {
  border-color: #4f9100;
  border-style: outset;
  border-width: 2px;
  background: whitesmoke;
}

/*adding extra margin against fixed-top navbar*/
.page-container {
  margin-top: 160px;
}

.container > h1 {
  text-align: center;
}

/*pokemon list display styling*/
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  }

.btn-light {
  background-color: #72feff;
  padding: 6px;
  border-style: outset;
  border-width: 3px;
  border-color: #4f9100;
  border-radius: 20px;
  font: inherit;
  width: 200px
}

.btn-light:hover {
  cursor: pointer;
  background-color: #ffd724;
  border-color: #4f9100;
}

.list-group-item { 
  background: transparent;
  border: none;
  text-align: center;
  list-style: none;
  padding-left: 0;
}

/*modal styling*/
.modal-content {
  border-width: 3px;
  border-color: #4f9100;
  border-style: outset;
  border-radius: 10px;
  text-align: center;

}
.modal-header {
  background-color: #ff2a1e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
}

/* fit the modal image inside the modal and add a small scale effect on hover*/
.modal-img {
  width: 45%;
  padding: 30px;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.modal-img:hover {
  -webkit-transform: scale(1.07);
      -ms-transform: scale(1.07);
          transform: scale(1.07);
}

.modal-footer {
  background-color: #ff2a1e;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black;
}

/*additional styling for smaller screens*/
@media only screen and (max-width: 576px) {

  .navbar-brand {
    margin: auto;
  }

  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-img {
    width: 90px;
  }
}

@media only screen and (max-width: 395px) {

  .page-container {
    margin-top: 180px;
  }
}