/* variables for later

:root {
  --primary-color: #white;
  --blue: #72feff;
  --yellow: #ffd724;
  --red: #ff2a1e;
  --green: #4f9100;
}
*/

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: whitesmoke;
}

h1 {
  font-size: 25px;
}

.nav-custom {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  background-color: #ff2a1e;
}

.nav-img {
  width: 120px;
  border-radius: 10px;
}

#pokemonInput {
  border-color: #4f9100;
  border-style: outset;
  border-width: 2px;
  background: whitesmoke;
}

.form-btn {
  background-color: #ffd724;
  color: black;
  border-color: #4f9100;
  border-style: outset;
  border-width: 2px;

}
.btn:focus {
  outline: none;
  box-shadow: none;
  }

.btn-light {
  background-color: #72feff;
  padding: 6px;
  border-style: outset;
  border-width: 3px;
  border-color: #4f9100;
  border-radius: 20px;
  font: inherit;
  width: 200px
}

.btn-light:hover {
  cursor: pointer;
  background-color:#ffd724;
  border-color: #4f9100;
}

.page-container {
  margin-top: 160px;
}

.list-group-item { 
  background: transparent;
  border: none;
  text-align: center;
  list-style: none;
  padding-left: 0;
}

.modal-content {
  border-width: 5px;
  border-color: #ffd724;
  border-style: outset;
  border-radius: 5px;
  text-align: center;

}
.modal-header {
  background-color: #ff2a1e;
  justify-content: center;
}

.modal-img {
  width:50%;
  padding: 20px;
}

.modal-footer {
  background-color: #ff2a1e;
}

/* control Pokemon image size and add a slight scale effect on hover*/
.image-element {
  width: 60%;
  transition: all .8s ease-in-out;
}

.image-element:hover {
  transform: scale(1.07);
}

/* Create responsive app design with media queries 
@media only screen and (max-width: 992px) {
  .button-container {
    margin: auto;
  }

  h1 {
    text-align: center;
    font-size: 30px;
  }

  .list-style {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .button-container {
    width: 100%;
  }

  .button-style {
    font-size: 16px;
  }
}*/